*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: lightblue;

}

.logo{
    font-size: 20px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    padding: 0px 20px;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-links a:hover{
    color: lightseagreen;
    transition: 0.5s;
}

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* * Mobile View */ 
@media (max-width:768px){

    .navbar{
        flex-wrap: wrap;   /* 👈 ADD THIS */
        position: relative;
    }

    .nav-links{
        display:none;
        flex-direction:column;
        width:100%;
        background: lightblue;
        margin-top:10px;
    }

    .nav-links.active{
        display:flex;
    }

    .nav-links li{
        margin:10px 0;
    }

    .hamburger{
        display:block;
        position:absolute;
        right:20px;
        top:18px;
    }
}
