*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(54, 3, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#btn{
    border: none;
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgb(202, 16, 72);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#btn:hover{
    background-color: hotpink;
    color: black;
}

#count{
    padding:20px;
    background-color: rgb(22, 196, 196);
    margin: 10px;
    border-radius: 10px;
    color: black;
}
