*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: lightseagreen;
}

p{
    font-size: 18px;
    margin-bottom: 20px;
}

button{
    padding: 20px 40px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}