*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px;
    margin: auto 0;
}
