*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    padding: 20px;
}

#password{
    padding: 20px;
    border: none;
    border-radius: 10px;
}

#toggle{
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
